*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: auto;
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: space-between;
}

/*-*/

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 16px;
  padding: 78px 0 0 0;
}

/*--*/

.result__video-container {
  position: relative;
}

/*--*/

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button {
  border: none;
}

.button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  border: 1px solid;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__label {
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-form__label-text {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__pseudo-checkbox {
  /*display: inline-block; */
  /* vertical-align: middle; */
  width: 19px;
  height: 19px;
  cursor: pointer;
  outline: 1px solid white;
  outline-offset: -1px;
}

input:checked ~ .search-form__pseudo-checkbox {
  border: 2px solid #1b1919;
  background-color: white;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  border: none;
  min-width: 225px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  appearance: none;
}

.search-form__label:has(:focus-visible),
.search-form__textfield:focus,
.search-form__textfield:active,
.button:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid white;
}

.search-form__label:focus,
.search-form__submit-button:focus {
  outline: none;
}

.content__list-item:focus-visible,
.content__card-link:focus {
  outline: none;
}

.search-form__label:has(:focus-visible),
.search-form__submit-button:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 15px;
}

/*-*/

.content__details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
}

/*--*/

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

/*--*/

.content__list {
  position: relative;
  overflow: auto;
  height: 298px;
  scrollbar-width: none;
}

.content__list-item {
  margin: 0 0 30px 0;
}

.more-button {
  width: 399px;
  height: 34px;
}

.content__list-item:last-child {
  margin: 0;
}

.content__card-link{
  color: white;
  text-decoration: none;
}

.content__card-link:focus-visible > .content__video-card {
  outline: 1px solid white;
  outline-offset: -1px;
}

.content__card-link:hover .content__video-card-description-container {
  text-decoration: underline;
}

.content__card-link_current .content__video-card-description-container {
  background: #545050;
}

.content__video-card-title {
  text-transform: uppercase ;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description{
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card {
  display: flex;
  padding: 2px;
}

.content__video-card:focus-visible {
  outline: 1px solid white;
}

.content__video-card-description-container{
  width: 200px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  display: block;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}